* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

.inicio_bat {
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHpkajkzZ3JrY29uMHdtZzNwcDFlYXZwY25sYjVyOWJuajQ0YWo1dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HLIsuOVZewzoNQz0yB/giphy.gif);
      
  /* Define o tamanho do fundo para cobrir o elemento 
  */
  background-size: cover;
  /* Impede que a imagem de fundo se repita */
  background-repeat: no-repeat;
  /* Centraliza a imagem de fundo */
  background-position: center;
  /* Define uma altura para o elemento visível */
  height: 100vh;
  width: 100%;

  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.btn-jogo {
    background-color: #6B1919;
    border: none;
    border-radius: 50px;
    padding: 8px 32px;
    color: aliceblue;
}

.bemVindo {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-content: center;
}

.texto {
    color: aliceblue;
    font-size: 32px;
font-family: "Chakra Petch", sans-serif;
}