* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background-color: black;

}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.inicio {
    background-color: #d9d9d98f;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.lista, .log {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

.log {
    background-color: #6d0505b6;
    padding: 10px 20px;
    border-radius: 38px;
    margin-left: 25px;
}

.lista:hover {
    color: #6D0505;
}

.log:hover {
    color: black;
}

.prisecao {
    display: flex;
        text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    gap: 55px;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 104px;
}

.dv1 {
    color: white;
    font-family: "Poppins", sans-serif;
}

p {
    padding-bottom: 25px;
    font-size: 24px;
    word-break: break-all;
    text-align: left;
}

.btn-log, .btn-cad {
    color: white;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
       
}

.bd.img {
        height: 100vh;
    background-image: url('../dat-web/web-data-viz/img/imgCad.jpg');
   display: block;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-log {
    border: #6D0505 solid 2px;
    background-color: black;
    border-radius: 28px;
    padding: 4px 55px;
}

.btn-cad {
    background-color: #6D0505;
    border: 0px;
    color: white;
    padding: 6px 20px;
    border-radius: 32px;
}

.tagCad {
    text-decoration: none;
    color: white;
}

.sec-card {
    flex-direction: row;
    display: flex;
    padding-top: 150px;
    justify-content: space-around;
    /*gap: 16px;*/
}

.card {
    background-color: #323232;
    border-radius: 32px;
    padding: 30px;
    width: 26%;
    height: auto;
    /*
    margin-left: auto;
    margin-right: auto;
    margin: 25px;
    */
}

.text-card {
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    font-size: 24px;
}

.para-card {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}

