* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

.inicio_bat {
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHpkajkzZ3JrY29uMHdtZzNwcDFlYXZwY25sYjVyOWJuajQ0YWo1dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HLIsuOVZewzoNQz0yB/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;

    /*align-items: flex-end;
    justify-content: center;
    */
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

.btn-jogo {
    width: 30%;
}


.btn-jogo, .btnVetor {
    background-color: #6B1919;
    border: none;
    border-radius: 50px;
    padding: 8px 32px;
    color: aliceblue;
}

.bemVindo {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    margin-left: 65px;
}

.texto {
    color: aliceblue;
    font-size: 55px;
    font-weight: 600;
    font-family: "Chakra Petch", sans-serif;
    padding-top: 55px;
}

.secCar {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

div {
    margin: 32px;
}

.fundoCar {
    background-color: #3A3838;
}

.text {
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}

input {
    background-color: #3A3838;
    border-radius: 20px;
    border: none;
    padding: 10px 25px;
}

.persona {
    background-color: #141414;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
}

.morcego {
    color: rgb(226, 226, 9);
}

.quis {
    background-color: #a7a3a3;
    padding: 25px 50px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    gap: 8px;
}

.iptquiz {
    background-color: rgb(153, 153, 14);
}

.ponto {
    color: rgb(153, 153, 14);
    font-family: "Chakra Petch", sans-serif;
}

.btnQuiz {
    margin-top: 15px;
    padding: 10px 36px;
    border-radius: 50px;
    border: none;
    font-family: "Poppins",sans-serif;
    color: white;
    background-color: #6B1919;
    margin-left: auto;
    margin-right: auto;
}

.btnMara {
    padding: 10px 36px;
    margin: 15px;
    border-radius: 50px;
    border: none;
    font-family: "Poppins",sans-serif;
    color: white;
    background-color: #6B1919;
}

.btnMara:hover {
     font-family: "Poppins",sans-serif;
    color: white;
    background-color: #2c0606;
    transform: scale(1.10);
    transition: 1s;
}

.img {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imgBat {
    width: 350px;
    height: auto;
    border-radius: 15px;
}

.selec {
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
    color: #2c0606;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.carAlea {
   height: 125vh;
}

.txt {
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
    font-family: "Chakra Petch", sans-serif;
    padding-bottom: 55px;
}

.iptId {
    width: 70%;
    border: none;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.btn-ver {
    margin-top: 32px;
    width: 40%;
    padding: 10px 15px;
}

.btn-ver:hover {
    background-color: #2c0606;
}

.card-car {
    background-color: #dedede81;
    border: 4px solid #691616;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 32px;
}

.img-carrosAle {
    width: 500px; 
    height: auto;
}

.div-img {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txtAletorio {
    font-size: 32px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: aliceblue;
}

 .divAleatorio {
        display: flex;
        color: aliceblue;
        align-items: center;
        font-family: "Poppins", sans-serif;
    }

    p {
        font-size: 20px;
    }