* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    height: 100vh;
    background-image: url('../assets/img/imgCad.jpg');
   display: block;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.mod {
    background-color: #1d202c88;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 35px;
    gap: 15px;
    margin-top: 10%;
}

.inicio {
    background-color: #d9d9d98f;
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
justify-content: center;
align-items: center;
}


ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.lista, .log {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.log {
    background-color: #6d0505b6;
    padding: 10px 30px;
    border-radius: 38px;
    font-size: 22px;
}

.cad {
    color: rgb(133, 148, 161);
}

.lista:hover{
    color: #6D0505;
}

.log:hover {
    color: black;
}


.titulo {
    color: #6B1919;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 55px;
}

.entrada,
.btnCad {
    padding: 10px 30px;
    border-radius: 25px;
}

.entrada {
    background-color: #dedede8c;
    border: none;
    width: 60%;
    align-self: center;
    padding: 13px;
}

.entrada::placeholder {
    color: rgba(0, 0, 0, 0.74);
    
}

.btnCad {
    background-color: #6B1919;
    border: none;
    color: white;
    padding: 10px 40px;
    width: 160px;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.btnCad:hover {
    background-color: #8a2323;
}