body {
    background-color: black;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

.sec-kpi {
    color: rgb(223, 207, 207);
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.kpi-card {
    background-color: #dedede;
    padding: 15px 30px;
    border-radius: 24px;
}

.fundImg {
    background-image: url(https://i.pinimg.com/736x/32/d6/dd/32d6ddfdfdec72f6a54535eb86588325.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fundImg2 {
    background-image: url(https://i.pinimg.com/736x/39/b0/03/39b0032de2b7573d56a9ceb76e8e4fe8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fundImg3 {
    background-image: url(https://i.pinimg.com/736x/75/99/9f/75999f0892fb84c59eaa5519783f1932.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: blue;
}

.kpi-sec {
    font-size: 32px;
}
