body {
    background-color: black;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 45px;
   margin-top: 2px; 
}

.dash-barra {
    max-width: 650px;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid rgb(138, 19, 19);
    border-radius: 32px;
    margin-top: 15px;
}

.inicio {
    display: flex;
    flex-direction: column;
    position: fixed;
}

h3 {
    font-size: 15px;
}

.sec-kpi {
    color: rgb(223, 207, 207);
    font-family: "Poppins", sans-serif;
    display: flex;
   /* flex-direction: column;*/
    gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*margin-top: 100px;*/
}

.kpi-card {
    background-color: #dedede;
    padding: 8px 30px;
    border-radius: 24px;
    margin-bottom: 2px;
    background-color: rgb(0, 0, 0, 0.5);
}

.fundImg {
    background-image: url(https://i.pinimg.com/736x/32/d6/dd/32d6ddfdfdec72f6a54535eb86588325.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fundImg2 {
    background-image: url(https://i.pinimg.com/736x/39/b0/03/39b0032de2b7573d56a9ceb76e8e4fe8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fundImg3 {
    background-image: url(https://i.pinimg.com/736x/75/99/9f/75999f0892fb84c59eaa5519783f1932.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: blue;
}

.kpi-sec {
    font-size: 32px;
}
