body {
    background-color: black;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

.sec-kpi {
    color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.kpi-card {
    background-color: #dedede;
    padding: 15px 30px;
    border-radius: 24px;
}

.kpi-sec {
    font-size: 32px;
}
