* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background-color: black;
}

.paraCom {
    font-size: 20px;
}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.styBtn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.prisecao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 55px;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 104px;
}

.dv1 {
    color: white;
    font-family: "Poppins", sans-serif;
}

p {
    padding-bottom: 25px;
    font-size: 24px;
    word-break: break-all;
    text-align: left;
}

.btn-log, .btn-cad {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    border-radius: 28px;
    padding: 10px 25px;
       
}

.bd.img {
        height: 100vh;
    background-image: url('../dat-web/web-data-viz/img/imgCad.jpg');
   display: block;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-log {
    border: #6D0505 solid 2px;
    background-color: black;
}

.btn-cad {
    background-color: #6D0505;
    border: 0px;
    color: white;
}

.tagCad {
    text-decoration: none;
    color: white;
}

.sec-card {
    flex-direction: row;
    display: flex;
    padding-top: 150px;
    justify-content: space-around;
    /*gap: 16px;*/
}

.card {
    background-color: #323232;
    border-radius: 32px;
    padding: 30px;
    width: 26%;
    height: auto;
    /*
    margin-left: auto;
    margin-right: auto;
    margin: 25px;
    */
}

.text-card {
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    font-size: 24px;
}

.para-card {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}

.secBatman {
    padding-top: 200px;
}

.divBatman {
   display: flex;
    font-family: "Poppins", sans-serif;
    gap: 200px;
   /* padding: 30px;
    max-width: 1200px;
    /*width: 60%;*/
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.batText {
    color: white;
    max-width: 700px;
    text-align: left;
    /*
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;*/
}

.para-Bat {
   /* line-height: 1.6;*/
   font-size: 30px;
    margin-right: 20px;
}

.title-bat {
    text-align: left;
    margin-bottom: 15px;
   /* font-size: 1.8em;*/
   font-size: 42px;
}

.secEvo {
    padding-top: 150px;
    padding-bottom: 150px;
}

.title-Evo {
    color: white;
    padding-bottom: 100px;
}

.footer {
    background-color: #5c5c5c62;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
}

.mapa {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    color: #6D0505;
}

.title-footer {
    color: #6D0505;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: #b39e9e;
}

.contato {
    color: white;
}

p {
    font-size: 15px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}


.fotti {
    color: white;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}